body {
  background-color: black;
  color: white;
  font-family: Arial;
  text-align: center;
}

h1 {
  color: #00aaff;
  text-shadow: 0 0 10px #00aaff;
}

button {
  background: #001f33;
  color: #00aaff;
  border: 1px solid #00aaff;
  padding: 12px;
  margin: 10px;
  border-radius: 12px;
  cursor: pointer;
}

button:hover {
  background: #003366;
}
