body {
  background-color: #000;
  color: #fff;
  font-family: Arial;
  text-align: center;
}

h1 {
  color: #00aaff;
  text-shadow: 0 0 10px #00aaff;
}

button {
  background: #001f33;
  color: #00aaff;
  border: 1px solid #00aaff;
  padding: 12px;
  margin: 10px;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #003366;
  box-shadow: 0 0 10px #00aaff;
}

input {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #00aaff;
  background: black;
  color: white;
  width: 70%;
}

#resposta {
  margin-top: 15px;
  color: #00ffaa;
}
